.beer-card {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.beer-card:hover {
  transform: translateY(-5px);
}
.beer-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
.beer-card a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}
.beer-card a:hover {
  color: #007bff;
}
.beer-card p {
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #666;
}
.beer-card .abv {
  color: #28a745;
}
.beer-card .ph {
  color: #dc3545;
}