.App {
    display: flex;
    height: 100vh;
}

.Nav {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    border-right: 1px solid #ccc;
}

.beers {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  
    button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 10px 15px;
      margin: 0 5px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #0056b3;
      }
  
      &.Back-Button::after {
        content: "<";
      }
  
      &.Forward-Button::after {
        content: ">";
      }
    }
  }